body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main{
    height: 560px;
    width: 380px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    margin-top: 100px;
    /*margin: 100px 0px 0px 650px;*/
    background-color: hsl(0, 0%, 100%);
}
.image-set{
    background-image: url("assets/images/illustration-article.svg");
    height:200px;
    width: 340px;
    border: 1px solid hsl(0, 0%, 7%);
    margin: 20px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9cm;
}
.webpimage{
    height: 35px;
    width: auto;
    margin-top: 30px;
    display: flex;
   justify-content:flex-start;
    
}
.imagelogo {
    width: 40px; /* Set the desired width */
    height: 40px; /* Let the height adjust proportionally */
    margin-left: 20px;
}
.text {
    margin: 10px;
    font-weight: bold;
    font-size: 13px;
}

h3{
    height: 30px;
    width: 110px;
    margin-left: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    background-color:hsl(47, 88%, 63%); ;
}
p{
    margin-left:20px;
    margin-right: 20px;
    font-size: 16px;
}
h2{
    margin-left:20px ;
}


@media (max-width: 375px) {
    .main{
        height: 550px;
        width: 340px;

    }
    .image-set{
        height:179px;
    width: 300px;
    }


}
@media (max-width: 1440px) {

    .main{
        height: 550px;
        width: 340px;

    }
    .image-set{
        height:179px;
    width: 300px;
    }
}